### A . Assignment Questions on Operators

1. **Arithmetic Operators**
    - Write a program that takes two numbers from the user.
    - Perform and print the results of addition, subtraction, multiplication, division, and modulus operations.

2. **Relational Operators**
    - Write a program that takes two numbers from the user.
    - Use relational operators (`>`, `<`, `>=`, `<=`, `==`, `!=`) to compare these numbers and print the results.

3. **Logical Operators**
    - Write a program that takes two boolean values from the user.
    - Perform and print the results of logical AND, logical OR, and logical NOT operations.

4. **Assignment Operators**
    - Write a program that initializes a variable `x` with the value `10`.
    - Use assignment operators (`+=`, `-=`, `*=`, `/=`, `%=`, `**=`, `//=`) to modify `x` and print the results after each operation.

5. **Bitwise Operators**
    - Write a program that takes two integers from the user.
    - Perform and print the results of bitwise AND, OR, XOR, NOT, left shift, and right shift operations.

6. **Compound Expressions**
    - Write a program that evaluates a compound expression involving multiple arithmetic and relational operators.
    - Example: Calculate the value of `3 * (x + y) / 2 > z` where `x`, `y`, and `z` are inputs from the user.

7. **Membership Operators**
    - Write a program that takes a string and a character from the user.
    - Use membership operators (`in`, `not in`) to check if the character is present in the string and print the result.

8. **Identity Operators**
    - Write a program that initializes two lists with the same values.
    - Use identity operators (`is`, `is not`) to check if the lists are the same object and print the result.

9. **Precedence and Associativity**
    - Write a program that demonstrates the precedence and associativity of different operators.
    - Example: Evaluate the expression `3 + 4 * 2 / (1 - 5) ** 2` and print the result.

10. **Operator Overloading**
    - Create a class `Vector` that represents a mathematical vector.
    - Implement operator overloading for addition, subtraction, and multiplication (dot product) for `Vector` objects.
    - Write a program to demonstrate the usage of these overloaded operators.

### B . Assignment Questions on Python Operators

1. **Basic Arithmetic Operations**
    - Write a program that asks the user to enter two numbers.
    - Perform addition, subtraction, multiplication, division, and modulus operations on these numbers.
    - Print the results of each operation.

2. **Comparison Operators**
    - Write a program that takes two numbers from the user.
    - Use comparison operators to determine and print whether the first number is greater than, less than, or equal to the second number.

3. **Logical Operators**
    - Write a program that takes two boolean values from the user.
    - Perform logical AND, OR, and NOT operations on these values.
    - Print the results of each operation.

4. **Compound Assignment Operators**
    - Assign the value `10` to a variable `x`.
    - Use compound assignment operators (`+=`, `-=`, `*=`, `/=`, `%=`) to modify the value of `x` and print the result after each operation.

5. **Bitwise Operators**
    - Write a program that takes two integers from the user.
    - Perform bitwise AND, OR, XOR, and NOT operations on these numbers.
    - Print the results of each operation.

6. **Exponentiation Operator**
    - Write a program that asks the user to enter a base and an exponent.
    - Calculate and print the result using the exponentiation operator (`**`).

7. **Floor Division Operator**
    - Write a program that asks the user to enter two numbers.
    - Perform floor division on these numbers and print the result.

8. **Operator Precedence**
    - Write a program that evaluates the following expression and prints the result: \( 3 + 5 \times 2 - 8 / 4 \).
    - Explain the order in which the operations are performed.

9. **Ternary Operator (Conditional Expression)**
    - Write a program that asks the user to enter two numbers.
    - Use a ternary operator to determine and print the larger of the two numbers.

10. **Membership Operators**
    - Write a program that asks the user to enter a character.
    - Check if the character is a vowel (a, e, i, o, u) using the `in` operator and print an appropriate message.

In [ ]:
# 1

In [ ]:
a= input("enter a integer")
b= input("enter an another integer")

enter a integer20
enter an another integer10

In [ ]:
a= 20
b= 10

print(a+b)

print(a-b)
print(a*b)
print(a/b)
print(a%b)

30
10
200
2.0
0

In [ ]:
# 2

In [ ]:
a= input("enter a integer")
b= input("enter an another integer")

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

enter a integer20
enter an another integer10
True
False
True
False
False
True

In [ ]:
# 3

In [3]:
a= int(input("enter the 1st boolean value "))
b= int(input("enter the second boolean value "))

print("a and b:",a & b)
print("a or b:",a | b)

enter the 1st boolean value 1
enter the second boolean value 0
a and b: 0
a or b: 1

In [4]:
# 4

In [5]:
x = 10
x+=5
print("x+=5:",x)

x-=5
print("x-=5:",x)

x*=5
print("x*=5:",x)

x/=5
print("x/=5:",x)

x+=5: 15
x-=5: 10
x*=5: 50
x/=5: 10.0

In [6]:
# 5

In [7]:
m= int(input("enter the first value"))
n= int(input("enter the second value"))

print("M and N :",m & n)
print("M or N :",m | n)
print("M xor N :",m ^ n)
print(" not N :",~ n)
print(" and m  :",~ m )

enter the first value7
enter the second value4
M and N : 4
M or N : 7
M xor N : 3
 not N : -5
 and m  : -8

In [8]:
# 6

In [9]:
base = int(input("enter your base value"))
exponent= int(input(" enter ypur exponent value "))
result= print("result of using exponent operator", base ** exponent)

enter your base value9
 enter ypur exponent value 3
result of using exponent operator 729

In [10]:
# 7

In [11]:
fst = int(input("enter your fst value"))
sec= int(input(" enter ypur sec value "))
result= print("result of using floor Division operator ", fst // sec)

enter your fst value24
 enter ypur sec value 5
result of using floor Division operator  4

In [12]:
# 8

In [13]:
A= 8+3+2*7-8/10+(5*3)-3/12+4%12
print("the result of expression A is :" , A)

the result of expression A is : 42.95

In [14]:
# 9

In [15]:
first = int(input("enter your first value"))
second = int(input(" enter ypur second value "))
print("large no of two number :", max(first,second))
print("smallest no of two number", min(first,second ))

enter your first value20
 enter ypur second value 53
large no of two number : 53
smallest no of two number 20

In [16]:
# 10

In [17]:
A = input("enter your charecter")
B = 'm' in A
print (b)

c = input("enter your vowel:")
D = 'a' in c
print(D)

enter your charecteranshuman
0
enter your vowel:A,E,I,O,U
False