In [1]:
seq = [1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [2]:
data = ['tcs','infosys','wipro','mind tree',]
for p in data :
    print('i am at ', p)

i am at  tcs
i am at  infosys
i am at  wipro
i am at  mind tree

In [7]:
for p in data : 
    print(p , end='* ')          # end= is used for row wise data output

tcs* infosys* wipro* mind tree*

#### To print sumof n whole numbers

In [19]:
a =[1,2,3,4]
sum1 = 0         #innitialization 

for i in a:
    sum1=sum1+i
    print('sum:',sum1)

print('sum:',sum1)

sum: 1
sum: 3
sum: 6
sum: 10
sum: 10

# For LOOP

The for loop is used to iterate over a sequence (list,typle , string) or other iterable objects .
Loops continue untill we reach the last item in the sequence .
The body of for loop  is separeted form the rest of the code using indentation .

In [1]:
seq = [1,2,3,4,5]
for i in seq:
    print(i)

1
2
3
4
5

In [2]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [3]:
fruits  = ['apple','mango','banana','cherry']
for x in fruits :
    print(x)

apple
mango
banana
cherry

In [4]:
list1 = [1,2,3,4,5]
for i in list1:              # end=' ' is used for space and anything between the item
    print (i,end=' ')

1 2 3 4 5

In [5]:
a= '123'
for char in a:
    print(char,end='*')

1*2*3*

In [9]:
for x in range (10):
    print(x,'hello')

0 hello
1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello

In [7]:
### print 1 to 10 natural numbers 
for i in range (1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

### for loop to print all the numbers between 10 and 50 ( both inclusive )

In [10]:
for i in range (11,30):
    print(i)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

#### print even numbers in descending order from 1 to 100

In [12]:
for i in range (100,1,-2):
    print (i,end=',')

100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,8,6,4,2,

#### write a for loop to print all the even numbers betweens 10 and 50

In [13]:
for i in range (10,50,2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [14]:
items = ['item1','item2','item3','item4']
for i in range (len(items)):
    print('iteam at index ', i,'i :',items[i])

iteam at index  0 i : item1
iteam at index  1 i : item2
iteam at index  2 i : item3
iteam at index  3 i : item4

#### to print sum of whole numbers

In [15]:
a = [1,2,3,4,5,6]
sum1 = 0     # innitialization

for i in a :
    sum1= sum1+i

print('sum:' , sum1)

sum: 21

In [16]:
a = [1,2,3,4,5,6]
sum1 = 0     # innitialization

for i in a :
    sum1= sum1+i
    print('sum:' , sum1)

sum: 1
sum: 3
sum: 6
sum: 10
sum: 15
sum: 21

### program toiterate through a list using indexing

In [17]:
z = ['anshu','suresh','santosh','abhinab','happy']

for i in range (1):
    print('I like', z[i])

I like anshu

#### write a python program to get all the even numbers from 11 to 50 (inclusive )

In [21]:
lb = int(input('enter lower bounds values: '))
ub = int(input('enter upper bounds values: '))

for i in range (lb,ub+1):
    if i%2==0:
        print(i,end=',')

enter lower bounds values:  20
enter upper bounds values:  50

20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

In [23]:
n = int(input('enter a number:'))
for i in range(n):                # print *
    print("*",end=" ")

enter a number: 6

* * * * * *

####  python program sum of even numbers in between given range

In [24]:
lb=int(input())
ub=int(input())
s=0

for i in range(lb,ub+1):
    if (i%2==0):
        s=s+i
        print(i,end=' ')

print('\nsum is ', s )

 4
 24

4 6 8 10 12 14 16 18 20 22 24
sum is  154

#### write program that gives numbers between 1 to 100 whic are divisible by 5

In [25]:
for num in range (1,100):
    if  num%5 == 0 and num%7!=0 :
        print(num)

5
10
15
20
25
30
40
45
50
55
60
65
75
80
85
90
95

#### program to print multiple mathematical tables

In [28]:
a = int (input('enter multiplication table:'))
for i in range (1,11):
    print(a,'*',i,'=',a*i)

enter multiplication table: 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [30]:
n = int (input( 'enter the number '))
for i in range (n):
    for j in range (n+1,):
        print('*',end=' ')

enter the number  4

* * * * * * * * * * * * * * * * * * * *

# LIST COMPREHENSION

In [34]:
# without list comprehension 
squares = []

for i in range(10):
    squares.append(i**2)     # list append 

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
# using list comprehension 

squares =[i**2 for i in range(10)]
print (squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
movies = ['horrer','comedy','romantic','suspence']
[len(movie) for movie in movies ]

[6, 6, 8, 8]

In [37]:
list2 = [-2,-4,-5,-8,3,5]
absv = [abs(x) for x in list2]
absv

[2, 4, 5, 8, 3, 5]

In [38]:
list2 = [-2,-4,-5,-8,3,5]
both = []
for x in list2 :
    if x<0:
        both.append (abs(x))
    else:
        both.append (x**3)

both

[2, 4, 5, 8, 27, 125]

In [39]:
# list comprehension 

[abs (x) if x<0 else x**3 for x in list2]

[2, 4, 5, 8, 27, 125]

# SET COMPREHENSION

In [41]:
movies = ['horrer','comedy','romantic','suspence']
a=set()
for i in movies :
    a.add(len(i))

a

{6, 8}

In [6]:
# comprehension 

movies = ['horrer','comedy','romantic','suspence']
                                # In set same number is not allowed
{len(i) for i in movies }

{6, 8}

# ENUMURATE

In [10]:
movies = {'departed':9,'titanic':9.2,'aviator ':8.7,'avatar':9.1,'2012':8.6}
{movie: rating for movie ,rating in enumerate(movies) }

{0: 'departed', 1: 'titanic', 2: 'aviator ', 3: 'avatar', 4: '2012'}


# python break statement

In python , break and continue statements can after the flow of a normal loop.

Loops iterate over a block of code untill test expression is false , but somestimes we wish
to terminate  the currentt iteration or even the whole loop without checking test expresiion

In [29]:
numbers = [1,2,3,4,5]
for num in numbers :
    if num== 4:
        break
        print(num)

In [31]:
numbers = [1,2,3,4,5,6]
for num in numbers :
    if num== 4:
        continue 
    print('in every loop',num)

in every loop 1
in every loop 2
in every loop 3
in every loop 5
in every loop 6

In [32]:
numbers = [1,2,3,4,5,6]
for num in numbers :
    if num== 4:
        print('this is the 1st num',num)
        continue 
        print('this is the 2nd num',num) 

numbers = [1,2,3,4,5,6]
print ( num )

this is the 1st num 4
6

In [33]:
numbers = [1,2,3,4,5,6]
for num in numbers :
    if num== 4:
        continue 
print ( num )

6

# python continue statement

### flow chat

#### print odd numbers present in a list

In [46]:
numbers = [1,2,3,4,5]

for num in numbers :
    if num % 2 == 0 :
        continue 
    print (num)

1
3
5

# for loop with else

In [47]:
numbers = [1,2,3,4,5]

# iterating over the list
for item in numbers :
    print(item)

else:
    print("no items left in the list")

1
2
3
4
5
no items left in the list

In [48]:
numbers = [1,2,3,4,5]

for item in numbers :
    if item%2 == 0:
        print(item)
        break

2

In [49]:
numbers = [1,2,3,4,5]

for item in numbers :
    if item%2 == 0:
        print(item)

2
4

# WHILE LOOP

In [50]:
x = 0 
while x<6:
    x=x+1
    print(x)

1
2
3
4
5
6

In [55]:
x=0
while x < 8:
    print('x is ', x)
    x = x+1

x is  0
x is  1
x is  2
x is  3
x is  4
x is  5
x is  6
x is  7

In [59]:
x = 0
while x >  1 :
    print("x is {}".format(x))
    x-=1

In [60]:
i = 100
s =20

while i<=500:
    s=s+i
    i=i+100

print(s)

1520

In [62]:
i = 0
s =0

while i<=5:
    s=s+i
    i+=2

print(s)

6

In [63]:
x = 0
print(x)

while x < 5 :
    x = x +1

print(x)

0
5

In [64]:
#### program to print 0 to 100 (inclusive) whole numbers 
i = 0 
while (i<=100):
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [66]:
#### program  to "n" odd  natural nummbers --> sum = 1+2+3....+n

n = int (input("enter n:"))
sum = 0 
i=1

while i <= n:
    sum = sum + i
    i = i +1 
print('the sum is ', sum)

enter n: 6

the sum is  21

In [68]:
#### find the product of all numbers present in a list

lst = [1,2,3,4,5,6]
product = 1 
index = 0 

while index < len(lst):
    product *= lst[index]
    index += 2 

print("product is {} :".format(product))

product is 15 :

In [62]:
# ask  the use to enter the nmbers and sum it 

s = 0
while True :
    a = input ("enter a value :")
    if (a == 'done'):
        break
    s= s+int(a)
    
print(s)

enter a value : 5
enter a value : 7
enter a value : 8
enter a value : done

20

 #### prratice

In [53]:
a = 0
while a >= 10 :
    print(a)
    a= a+1

### Take  a number of user input and get the factorial of that number usiing for loop or while loop ?

In [1]:
# using  for  loop 

def factorial_for_loop(n):
    factorial = 1
    for i in range(1, n + 1):
        factorial *= i
    return factorial

number = int(input("Enter a number: "))
print(f"The factorial of {number} using for loop is: {factorial_for_loop(number)}")

Enter a number:  5

The factorial of 5 using for loop is: 120

In [6]:
#  USING WHILE LOOP

def factorial_while_loop(n):
    factorial = 1
    while n > 0:
        factorial *= n
        n -= 1
    return factorial

# Example usage:
number = int(input("Enter a number: "))
print(f"The factorial of {number} using while loop is: {factorial_while_loop(number)}")

Enter a number:  5

The factorial of 5 using while loop is: 120

In [8]:
def factorial_while_loop(n):
    factorial = 1
    while n > 0:
        factorial *= n          
        n -= 1
    return factorial

# Example usage:
number = int(input("Enter a number: "))
print(f"The factorial of {number} using while loop is: {factorial_while_loop(number)}")

Enter a number:  0

The factorial of 0 using while loop is: 1