In [1]:
print("hello occac")

hello occac

In [2]:
pwd

'C:\\Users\\AMAR\\python 1'

In [3]:
cd http://localhost:8888/notebooks/python%201/Untitled.ipynb

[WinError 123] The filename, directory name, or volume label syntax is incorrect: 'http://localhost:8888/notebooks/python%201/Untitled.ipynb'
C:\Users\AMAR\python 1

In [4]:
AN = 1      # this is a variable declare 
b = 5   
AN + b   # doing sumation af two variables 

"""this is the second class of python 
     internship batch 
      and we are studying about variable and identifier """

'this is the second class of python \n     internship batch \n      and we are studying about variable and identifier '

In [3]:

"""this is the second class of python 
     internship batch 
      and we are studying about variable and identifier """
AN = 1      # this is a variable declare 
b = 5   
print(AN + b)   # doing sumation af two variables

6

In [6]:
"""this is the second class of python 
     internship batch 
      and we are studying about variable and identifier """
AN = 1      # this is a variable declare 
b = 5   
AN + b   # doing sumation af two variables

6

In [8]:
id(a)

140720745139784

In [9]:
(a)

90

In [7]:
a = 90

In [10]:
b = 90
id(b)

140720745139784

In [11]:
z = 15
c = 25
u =z+c 
u
v = print("the sumation is ", z+c )

the sumation is  40

In [12]:
z = 15
c = 25
u =z+c 
u
v = print("the sumation is ", z+c )
v

the sumation is  40

In [14]:
z = 15
c = 25
u =z+c 
u
v = print("the sumation is ", z+c )
v
u

the sumation is  40

40

In [15]:
z = 15
c = 25
u =z+c 
u
v = ("the sumation is ", z+c )
v
u

40

In [16]:
1a = 147
1a

SyntaxError: invalid decimal literal (1099300097.py, line 1)

In [17]:
_1a = 147
_1a

147

In [21]:
w = type(_1a)
w

int

In [23]:
print (w)

<class 'int'>

In [24]:
import  keyword           # liabray 
keywords = keyword.kwlist
print (keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [25]:
len(keywords)

35

In [26]:
b = input("enter your company name")
print("my organisation name is -" ,b)

enter your company name occac

my organisation name is - occac

In [30]:
print(b,"is organisations name")

occac is organisations name

In [32]:
print("i am form",b,"whwre are you form?")
c = input("enter your id")

i am form occac whwre are you form?

enter your id 2003

In [34]:
print("i am form",b,"my id is",c)

i am form occac my id is 2003

In [36]:
print("i am form {}and my id is {} ".format(b,c))

i am form occacand my id is 2003

In [37]:
print("i am form {}and my id is {} ".format(c,b))

i am form 2003and my id is occac

In [40]:
a,b,c =10,20,30    # multiple pinting 
print(a,b,c)

10 20 30

In [41]:
a = 50 
a

50

In [42]:
del (a)

In [43]:
a

NameError: name 'a' is not defined

In [44]:
  print('the story of {},{} and {other}'.format(other='georg','bill','manfred'))

SyntaxError: positional argument follows keyword argument (490075557.py, line 1)

In [45]:
 print('the story of {other},{}and {} '.format(other='georg','bill','manfred'))

SyntaxError: positional argument follows keyword argument (4184059815.py, line 1)