## VARIABLE IN PYTHON

Variable means storing some values

In [3]:
c =' PYTHON '    # Declare a variable c 
c                   #  c is a variable stroing the value is  python

' PYTHON '

In [4]:
b =' anshu'      # declare a variable c 
print (b)              #  output using print function

 anshu

## SINGLE VARIABLE

It is assined by '=' operator

a = 10     # declared a variable 'a' who store the value 10
a           #  store the value 10

In [9]:
type(a)       # declare 'a'  is which type of variable

int

In [11]:
type (j)

NameError: name 'j' is not defined

type(j)    # j becomes error beacause j is not defined

In [13]:
z = "60"
z

'60'

In [15]:
type(z)       # Here tpye of z is  became string due to haing double coated comma .

str

In [16]:
import  keyword           # liabray 
keywords = keyword.kwlist    # declared  all the keywords 
print (keywords)                # print the keywords name

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [17]:
len(keyword.kwlist)     # length of keywords

35

In [19]:
False = "9563"
False

SyntaxError: cannot assign to False (1243744398.py, line 1)

In [20]:
a1 = 20
a1

20

# variable connot start with any nummber

In [21]:
1b = 30           # variable connot start with any nummber 
1b

SyntaxError: invalid decimal literal (1578404690.py, line 1)

# variable connot contain any special charecter

In [31]:
b$6 = 50          # variable connot contain any special charecter 
b$6

SyntaxError: invalid syntax (2280904920.py, line 1)

# variable can containt only the underscore

In [24]:
b_6 = 504
b_6

504

# storsge location

In [26]:

id(b_6)

1225928788528

In [28]:
v = 22
v
id(v)

140720351397320

In [29]:
b =50
c =80
id(b)

140720351398216

In [30]:
id(c)

140720351399176

# summation in python

In [32]:
a = 50          # declare the vriable 'a'
b = 10            # declare the vriable 'b'
sum = a+b        # sum of two variables 
print("The summation of two numbers are ",sum)      # output using print function

The summation of two numbers are  60

In [34]:
a = b =c = 66
c

66

In [35]:
b

66

In [36]:
a

66

In [37]:
a= 10
b = 6
c = 4
abc = 87
print(a,b,c)

10 6 4

In [38]:
print(abc)

87

# deletion of variables

In [39]:
a = 64
print(a)

64

In [41]:
del(a)

In [43]:
a            #  value of 'a' is allready deleted

NameError: name 'a' is not defined

In [44]:
a=1
b=2
c=5
del a,b

In [45]:
c

5

In [46]:
a
b           # 'a' &  'b' is alteady deleted

NameError: name 'a' is not defined

# multiple variables assiignments

In [47]:
a=1
b=2
c=3
print(a,b,c)

1 2 3

In [48]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [49]:
a = b = c = "Anshu"
print(c)

Anshu

# user input in python

for user input we can use the 'input() ' function nput  .

In [50]:
b = input("enter your company name")
print("my organisation name is -" ,b)

enter your company name ocac

my organisation name is - ocac

In [51]:
z =input("enter your mobile no ")

print('my mobile no is ',z)

enter your mobile no  907856632

my mobile no is  907856632

In [52]:
print("i am form",b,"my mobile no is " ,z)

i am form ocac my mobile no is  907856632

# " .format in python "

In [55]:
print("i am form{} & my mobile no is {}" .format(b, z))

i am formocac & my mobile no is 907856632

In [57]:
print('the story of {},{} and {other}'.format('mango','banana',other='apple'))

the story of mango,banana and apple

* which variable is declared infornt of the print function , that variable must be stay in last in '.format ' function
*  values of " .format "  are must be same or greater than the  blank variable

In [58]:
print('the story of {},{} and {other}'.format(other='apple','mango','banana'))

SyntaxError: positional argument follows keyword argument (2270342621.py, line 1)

# output in python

* there are various way of  printing outpput

In [62]:
print(55)

55

In [63]:
print("anshuman")

anshuman

In [64]:
a= 50
print(a)

50

In [65]:
anshu = 10
print(anshu)

10

In [66]:
print(a)
type(a)

50

int

*  separate function between thw values of variables

In [67]:
a=10
b=5
c=6
d=9
print(a,b,c,d,sep=":")

10:5:6:9

In [3]:
num = 22
name = "anshu"
print('my number is {one} and my name is {two}'.format(one = num , two=name))
print('my number is {} and my name is {}'.format(num ,name))
print('my number is', num ,'and my name is number ',name )

my number is 22 and my name is anshu
my number is 22 and my name is anshu
my number is 22 and my name is number  anshu

In [6]:
name = input("what is your name")
print("how are you " + name + "?")

what is your name anshu

how are you anshu?

In [12]:
z=int(input("enter your age"))

enter your age 25

In [10]:
z=float(input("enter your age"))

enter your age 22.1

*  ' .split () ' is used to multiple input in single array

In [15]:
x,y = input(" enter your name  ").split(" ")
print(x)
print(y)

 enter your name   anshu sipun

anshu
sipun